html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #111;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

* {
  touch-action: none; /* disables pan, zoom, tap highlights */
  user-select: none; /* no text selection */
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
